<!DOCTYPE html>
{% load static %}
{% load mathfilters %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C3P0: The Engineer's Assistant</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.3/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=".">C3P0: The Engineer's Assistant</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <p>{{ user }}</p>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'logout' %}">
                        <i class="fa fa-sign-out fa-fw"></i> Log out
                    </a>
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <img src="/ui-template/images/c3po.png" style="padding: 16px 24px 16px 24px;">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="https://c3energy.atlassian.net/secure/Dashboard.jspa" target="_blank"><i class="fa fa-support fa-fw"></i> JIRA<!-- <span class="fa arrow"></span> --></a>
                        </li>
                        <li>
                            <a href="https://github.com/" target="_blank"><i class="fa fa-upload fa-fw"></i> Github<!-- <span class="fa arrow"></span> --></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">C3P0 Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                                <span class="pull-left">Sprint Completion</span>
                            <div class="row">
<!--                                 <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div> -->
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ sprint_completion|safe }}</div>
                                    <div>( {{ sprint_completion_subscript | safe }} )</div>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a> -->
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                                <span class="pull-left">P0s this sprint</span>
                            <div class="row">
<!--                                 <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div> -->
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{p0s|safe}}</div>
                                    <div>tickets</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{links.p0|safe}}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                                <span class="pull-left">P1s this sprint</span>
                            <div class="row">
<!--                                 <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div> -->
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{p1s|safe}}</div>
                                    <div>tickets</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{links.p1|safe}}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                                <span class="pull-left">RCAs completed</span>
                            <div class="row">
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{rca_written_or_not|safe}}</div>
                                    <div>P0s, P1s</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{links.rca|safe}}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                                <span class="pull-left">Rate of underestimated tickets</span>
                            <div class="row">
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ rate_under_estimated|safe }}</div>
                                    <div>completed tickets</div>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                {% for pr in pull_request_notify_panel_data %}
                                <a href="{{ pr.Url }}" class="list-group-item">
                                    <i class="fa fa-warning fa-fw"></i> Pull Request #{{ pr.Number }} has been open for more than 24 hours
                                    <!-- <span class="pull-right text-muted small"><em>4 minutes ago</em> -->
                                    </span>
                                </a>
                                {% endfor %}
                                <!-- <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> New P0 assigned to you https://c3energy.atlassian.net/browse/BUILD-12345 Test failure: Bruh do you even test
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                                </a> -->
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                 </div>
    </div>


        {% for info in pull_request_size_chart_data %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Size of Pull Requests for {{ info.0 }}
                            <!-- <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Current Sprint</a>
                                        </li>
                                        <li><a href="#">Last 60 days</a>
                                        </li>
                                        <li><a href="#">Last 120 days</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Historic Trend on GitHub</a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="pull_request_size_chart_{{ info.0 }}"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
        {% endfor %}


            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Sprint Completion Rate %
                            <!-- <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Current Sprint</a>
                                        </li>
                                        <li><a href="#">Last 60 days</a>
                                        </li>
                                        <li><a href="#">Last 120 days</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Historic Trend on GitHub</a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                        <div class="panel-body">
                            <div id="sprint_completion_chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-compat/3.0.0-alpha1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.4/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.8/raphael.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script>
    $(function() {
        {% for info in pull_request_size_chart_data %}
        Morris.Area({
            element: 'pull_request_size_chart_{{ info.0 }}',
            data: [
                {% for p in info.1 %}
                    {
                        pr_number: '{{ p.Number }}',
                        additions: {{ p.Additions }},
                        deletions: {{ p.Deletions|mul:-1 }}
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            xkey: 'pr_number',
            ykeys: ['additions', 'deletions'],
            labels: ['additions', 'deletions'],
            pointSize: 2,
            hideHover: 'auto',
            resize: true,
            behaveLikeLine: true
        });
        {% endfor %}

        Morris.Area({
            element: 'sprint_completion_chart',
            data: [
                {% for p in sprint_completion_chart_data %}
                    {
                        period: '{{ p.SprintNum }}',
                        {% if p.SprintAssigned == 0 %}
                        sprint_completion_rate: 0.0
                        {% else %}
                        sprint_completion_rate: {{ p.SprintCompleted|div:p.SprintAssigned }}
                        {% endif %}
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            xkey: 'period',
            ykeys: ['sprint_completion_rate'],
            labels: ['sprint_completion_rate'],
            pointSize: 2,
            hideHover: 'auto',
            resize: true
        });
    });
    </script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "dist/js/sb-admin-2.js" %}"></script>

</body>

</html>
