<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.
css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin
="anonymous">
  <title>C3 Engineering Dashboard</title>
  <style>
    h1 {
      margin: 2em 0;
    }
  </style>
</head>
<body>
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align: center">C3P0 - C3 Engineering Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="card">
                <article class="card-body">
                <a href="{% url 'login' %}" class="float-right btn btn-outline-primary">Sign in</a>
                <h4 class="card-title mb-4 mt-1">Sign up</h4>
                <p>Please use the first part of your C3 email address as the username</p>
                <p>(e.g. If your email address is abc@example.com, your username should be abc.)</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Sign up  </button>
                    </div>                                                          
                </form>
                </article>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</body>
</html>